<!doctype html>
<html lang="en">
  <head><title>Delete Recipe</title></head>
  <body>
    <h1>Delete Recipe</h1>
    <form action="{{ url_for('delete_recipe_route') }}" method="post">
      <label>Select recipe to delete:</label><br />
      <select name="recipe_id">
        {% for r in recipes %}
          <option value="{{ r['id'] }}">{{ r['title'] }}</option> <!--Claude AI used to create a dropdown box to select the correct recipe name.-->
        {% endfor %}
      </select><br /><br />
      <input type="submit" value="Delete Recipe" />
    </form>
  </body>
</html>
