<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users List</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Recipes List</h2>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark"> <!-- creates a dark background for the table header -->
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Servings</th>
                    <th>Prep Time</th>
                    <th>Cook Time</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody> <!-- table body -- loop through all of the users -->
                {% for r in recipes %}
                <tr>
                    <td>{{ r['title'] }}</td>
                    <td>{{ r['category'] }}</td>
                    <td>{{ r['servings'] }}</td>
                    <td>{{ r['prep_minutes'] }} min</td>
                    <td>{{ r['cook_minutes'] }} min</td>
                    <td>{{ r['rating'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </body>
</html>
